<form class="form-inline" role="form">

	<figure>
		<img src="http://i.forbesimg.com/media/lists/people/{{img_url}}_100x100.jpg">
	</figure>
	<div class='area_question'>
	<p>{{question}}</p>
	</div>
	<div class='area_answer'>
		<input type='text' placeholder='Fill your answer here' id='answer'/>
		<span>{{unit}}</span>
	</div>
	<input type="submit" value='check' id='check_answer'>
</form>
