/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2014, 3:06:25 PM
    Author     : Hung
*/

table.question td{
    text-align:center
}

table.question {
    width: 250px;
}

