<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1>Results</h1>
<p>The correct answer is {{answer}}</p>
<p>Your answer is {{percent}} % off</p>
<button class="btn btn-primary" role="button" id="new_question">New question</button>
