<form class="form-inline" role="form">
    <div class="form-group">
        <label class="control-label">Lower Limit</label>
        <input type="text" class="form-control" id="from" value="10">
    </div>
    <div class="form-group">
        <label class="control-label">Upper Limit</label>
        <input type="text" class="form-control" id="to" value="1000000">
    </div>
    <div class="form-group">
        <button id="get_question" class="btn btn-primary">Generate Question</button>
    </div>
</form>