<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{{#question}}

<form class="form-inline" role="form">
    <div class="form-group">
        <table class="question">
            <tr>
                <td><h1>{{firstThing.type}}</h1></td>
            </tr>            
            <tr>
                <td>
                    <div class="form-group">
                        <input type="text" class="col-sm-4 form-control" id="answer" placeholder="?">
                        <button type="button" id="check_answer" class="btn btn-primary">Check</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>X</label>
                </td>
            </tr>
            <tr>
                <td>
                    <img width="200" src="{{firstThing.image}}" alt="{{firstThing.subject}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{firstThing.subject}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>=</label>
                </td>
            </tr>
            <tr>
                <td>
                    <img width="200" src="{{secondThing.image}}" alt="{{secondThing.subject}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{secondThing.subject}}</label>
                </td>
            </tr>
        </table>
    </div>
</form>
{{/question}}
{{#error}}
<p>Error: {{message}}</p>
<a href="/" class="btn btn-primary">Go back</a>
{{/error}}